a.menu_links {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

main h1 {
  margin-bottom: 20px;
}

.btn-campanario {
  background-color: transparent;
  border-color: transparent;
  font-family: "Lato", sans-serif;
  color: #fff;
}

.btn-campanario:active {
  background-color: transparent;
  font-family: "Lato", sans-serif;
  color: #ebebeb;
  border-color: transparent;
}
.btn-campanario:hover {
  background-color: transparent;
  border-color: transparent;
  font-family: "Lato", sans-serif;
  color: #ebebeb;
}
.btn-campanario:focus {
  background-color: transparent;
  border-color: transparent;
  font-family: "Lato", sans-serif;
  color: #ebebeb;
}

.btn-publicar {
  background: #56738b;
  font-family: "Lato", sans-serif;
  color: #ebebeb;
}

.btn-publicar:active {
  background: #ebebeb;
  font-family: "Lato", sans-serif;
  color: #56738b;
}
.btn-publicar:hover {
  background: #ebebeb;
  font-family: "Lato", sans-serif;
  color: #56738b;
}
.btn-publicar:focus {
  background: #ebebeb;
  font-family: "Lato", sans-serif;
  color: #56738b;
}
.react-confirm-alert {
  font-family: "Lato", sans-serif;
}

.react-confirm-alert-button-group button:last-child {
  background: #56738b;
  font-family: "Lato", sans-serif;
  color: #ebebeb;
}

.react-confirm-alert-button-group button:first-child {
  background: #ebebeb;
  font-family: "Lato", sans-serif;
  color: #56738b;
}

.react-confirm-alert-button-group button:last-child:hover {
  background: #ebebeb;
  font-family: "Lato", sans-serif;
  color: #56738b;
}

.react-confirm-alert-button-group button:hover {
  background: #56738b;
  font-family: "Lato", sans-serif;
  color: #ebebeb;
}

.btn-trash-anuncios{
  background-color: transparent;
  border-color: transparent;
  
}

.btn-trash-anuncios:hover{
  background-color:rgba(0, 0, 0, 0.3) !important;
  border-color: transparent;
  
}
.btn-trash-anuncios:focus {
  background-color:rgba(0, 0, 0, 0.3) !important;
  border-color: transparent;
}
.btn-trash-anuncios:active {
  background-color:rgba(0, 0, 0, 0.3) !important;
  border-color: transparent;
}

.card-container {
  width: 300px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 156px;
  margin-top: 50px;
}

.card-anouncements {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.card-imgs {
  object-fit: cover;
  border-radius: 5px;
  height: 450px;
  width: 300px;
  background-color: #ebebeb;
}
.card-img {
  object-fit: cover;
  border-radius: 5px;
  height: 190px;
  width: 300px;
}

.card-title-anuncios {
  font-size: 25px;
}

.icon-plus-anuncios {
  margin-left: 3.5rem;
  font-size: 40px;
}

.card-title-anouncement {
  color: #fff;
  text-align: left;
}

.anuncios-content{
  margin-left: 1rem !important;
}

.anuncios-card-overlay{
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,.8));
 }
 .card-container-anuncios
 {
   padding-left: 0 !important;
 }

 .center-content-anuncios{
  margin: 0;
  position: absolute;
  top: 37%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }