.reservations-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 40vh;
}

.reservations-container > div {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 0 .5rem;
}

.reservations-padding{
	padding-left: 8rem;
	padding-right: 5rem;
}
  
 
.mobile-reservations {
	padding: 0 !important;
}
  
h1.mobile-reservations {
	text-align: center;
  }